@{
    Layout = null;
}
@model QuoteApp.Models.AddAuthorModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>New Quote</title>
    <link rel="stylesheet" href="/css/Style.css" />
</head>
<body>
    <h1>Add a Quote</h1>
    <form asp-action="AddAuthor" method="post">
        <div>
            <label for="Quote">Your Quote:</label><br/>
            <input asp-for="Quote" />
        </div>
        <div>
            <label for="Author">Author:</label><br/>
            <input asp-for="Author" />
        </div>
        <button type="submit">
            Add
        </button>
    </form>
    <div asp-validation-summary="All"></div>
</body>
</html>