@model QuoteApp.Models.AddAuthorModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <div>
        <h3>Thank you, @Model.Author's quote:</h3>
        <q>@Model.Quote</q>
        <p>has been added</p>        
    </div>
    Click <a asp-action="Index">here</a> to see more Quotes.
</body>
</html>
<style>
    body {
        text-align: center;
    }
</style>
