@{
    Layout = null;
}
 
@model AddAuthorModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quotes</title>
    <link rel="stylesheet" href="~/css/Home.css" />
</head>
<body>
    <h1>Quotes of Great Men and Women</h1>
    <p><q> @Model.Quote </q></p>
    <p><em> @Model.Author;</em></p><br/>
    <a asp-action="AddAuthor">Add a new Quote</a>
</body>
</html>